{% extends 'base.html' %}

{% block content %}

<h1 class="sr-only">Learn Alert Homepage</h1>
<section class="index-section videos">
    <h2>Latest Videos</h2>
    <p>Explore curated coding tutorials from YouTube to enhance your web development and programming skills.</p>
    {% include 'partials/_video_list.html' %}
</section>

<section class="index-section posts">
    <h2>Latest Posts</h2>
    <p>Insights and thoughts on the journey of learning to code, featuring tips, tricks, and tutorials.</p>
    <div class="index-section-post-wrapper">
        {% for post in posts %}
        <a href="">
            <article>
                <h2 class="post-title">{{ post.title|capfirst }}</h2>
                <p class="post-description">{{ post.description|truncatewords:10 }}</p>
                <p>{{ post.content|truncatewords:20 }}</p>
            </article>
        </a>
        {% endfor %}
        <a href="">
            <article>
                <h2 class="post-title">Post Title</h2>
                <p class="post-description">Description text</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus distinctio aliquam laborum
                    accusantium
                    maiores. Possimus.</p>
            </article>
        </a>
        <a href="">
            <article>
                <h2 class="post-title">Post Title</h2>
                <p class="post-description">Description text</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus distinctio aliquam laborum
                    accusantium
                    maiores. Possimus.</p>
            </article>
        </a>
        <a href="">
            <article>
                <h2 class="post-title">Post Title</h2>
                <p class="post-description">Description text</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus distinctio aliquam laborum
                    accusantium
                    maiores. Possimus.</p>
            </article>
        </a>
    </div>
</section>

<section class="index-section about">
    <h3>About this project</h3>
    <p>This website is designed to help aspiring developers through a curated list of tutorials and personal insights
        into the
        coding journey.</p>
</section>

{% endblock %}
