{% extends 'base.html' %}

{% block meta %}
<meta name="description" content="Python on the Web Homepage">
{% endblock meta %}

{% block title %}Python on the Web{% endblock title %}

{% block content %}

<h1 class="sr-only">Python on the Web Homepage</h1>

<section class="index-section videos">
    <h2>Latest Videos</h2>
    <p>Videos from the <a class="underline" href="https://developers.google.com/youtube/v3" target="_blank">YouTube
            API</a> to help you
        build awesome stuff</p>
    {% include 'partials/_video_list.html' %}
    <p><a class="underline" href="{% url 'video:list' %}">See all videos</a></p>
</section>

<section class="index-section posts">
    <h2>Latest Posts</h2>
    <p>Learn to code, featuring tips, tricks, and tutorials. NOTE: These posts are written by <a
            href="https://www.anthropic.com/" target="_blank" class="underline">Anthropic's</a> Claude API</p>
    <div class="index-section-post-wrapper">
        {% include 'partials/_post_list.html' %}
    </div>
    <p><a class="underline" href="{% url 'blog:list' %}">See all posts</a></p>
</section>

<section class="index-section about">
    <h3>About</h3>
    <p>A place to see coding videos and read up on thoughts/insights about web development, Python/Django, CSS, and
        JavaScript. The videos are gathered from YouTube and the posts are written by Anthropic/Claude. Content is
        automatically gathered and posted via cron-jobs/scripts. If you see something you like, <a
            href="mailto:steverios.sr2@gmail.com?subject=Python%20on%20the%20Web%20Feedback" class="underline">please
            let me know</a>!</p>
</section>

{% endblock %}
