/* global styles */

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.wrapper {
  margin-inline: auto;
  width: min(90%, 1000px);
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

svg {
  width: 1.8rem;
}
