{% extends 'base.html' %}
{% load static %}
{% load markdown_extras %}

{% block title %}{{ post.title|capfirst }}{% endblock title %}

{% block content %}
<section>
    <h1>{{ post.title|capfirst }}</h1>
    <p class="post-description">{{ post.description }}</p>
    <p class="post-date">Published: {{ post.published_date|date }}</p>
    {{ post.content| markdown | safe }}
</section>

<aside class="reaction-wrapper">
    {% for reaction, icon, number in reactions %}
    <div class="{{ reaction }}-section">
        <form class="{{ reaction }}-form" action="{% url 'blog:react_to_post' post.slug reaction %}" method="post"
            hx-post="{% url 'blog:react_to_post' post.slug reaction %}" hx-trigger="click once"
            hx-target=".{{ reaction }}-count" hx-swap="innerHTML">
            {% csrf_token %}
            <input type="hidden" name="{{ reaction }}" value="{{ reaction }}">
            <button class="{{ reaction }}-button reaction-button" type="submit">{{ icon }}</button>
        </form>
        <span class="{{ reaction }}-count reaction-number">{{ number }}</span>
    </div>
    {% endfor %}

</aside>
{% endblock content %}
