{% extends 'base.html' %}
{% load static %}

{% block title %}{{ post.title|capfirst }}{% endblock title %}

{% block content %}
<section>
    <h2 class="post-title">{{ post.title|capfirst }}</h2>
    <p class="post-description">{{ post.description }}</p>
    <p class="post-date">Published: {{ post.published_date|date }}</p>
    {{ post.content|safe }}
</section>
<aside>
    <div class="like-section">
        <form class="like-form" action="{% url 'blog:detail' post.pk %}" method="post"
            hx-post="{% url 'blog:detail' post.pk %}" hx-trigger="click once" hx-target=".like-count"
            hx-swap="innerHTML">
            {% csrf_token %}
            <input type="hidden" name="like" value="1">
            <button class="like-button" type="submit">👍</button>
        </form>
        <span class="like-count">Likes: {{ post.likes }}</span>
    </div>
</aside>
{% endblock content %}
