{% load compress %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}{% endblock meta %}
    {% compress css %}
    <link rel="stylesheet" href="{% static 'main/css/pico.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'video/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/styles.css' %}">
    {% endcompress %}
    {% compress js %}
    <script src="{% static 'main/js/htmx.js' %}" defer></script>
    <script src="{% static 'main/js/liteYtEmbed.js' %}" type="module"></script>
    <script src="{% static 'main/js/themeToggle.js' %}" type="module"></script>
    {% endcompress %}
    <link rel="shortcut icon" href="{% static 'main/code.svg' %}" type="image/x-icon">
    <title>{% block title %}Python on the Web{% endblock %}</title>
    {% block style %}{% endblock style %}
</head>

<body>
    {% include 'partials/_navigation.html' %}

    <main id="main">
        {% block content %}{% endblock %}
    </main>

    {% include 'partials/_footer.html' %}
</body>

</html>
